Lab06 Desafios/flows (2).json
[
    {
        "id": "40f9f35d7644f6dd",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "161b1174bd54f4f0",
        "type": "mqtt in",
        "z": "40f9f35d7644f6dd",
        "name": "",
        "topic": "testecp3/d1/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6d48efd7b9031cb4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 500,
        "wires": [
            [
                "72d3b539f9f91f1e",
                "9c106ee22fd77cb1"
            ]
        ]
    },
    {
        "id": "3570c7c2b7f96866",
        "type": "mqtt in",
        "z": "40f9f35d7644f6dd",
        "name": "",
        "topic": "testecp3/d1/umid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6d48efd7b9031cb4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 900,
        "wires": [
            [
                "62d0bb4d8c9d265b",
                "da5dad37be182d91"
            ]
        ]
    },
    {
        "id": "20c14a48beb93730",
        "type": "ui_gauge",
        "z": "40f9f35d7644f6dd",
        "name": "",
        "group": "b5882fb8ebc3c2c5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "Cº",
        "format": "{{value}}",
        "min": "-10",
        "max": "5",
        "colors": [
            "#0e8bb4",
            "#ecec6f",
            "#e5331f"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "72d3b539f9f91f1e",
        "type": "switch",
        "z": "40f9f35d7644f6dd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 500,
        "wires": [
            [
                "20c14a48beb93730",
                "46947f467d6638be",
                "accc1d49ba38da0e"
            ],
            [
                "20c14a48beb93730"
            ]
        ]
    },
    {
        "id": "c80267716c3d348a",
        "type": "ui_gauge",
        "z": "40f9f35d7644f6dd",
        "name": "",
        "group": "b5882fb8ebc3c2c5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "% de Umidade",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#d53434",
            "#ffff00",
            "#2ec230"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 960,
        "wires": []
    },
    {
        "id": "62d0bb4d8c9d265b",
        "type": "switch",
        "z": "40f9f35d7644f6dd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 900,
        "wires": [
            [
                "c80267716c3d348a",
                "1a71dd11a83351ce",
                "ee0e8fb9dfe84e31"
            ],
            [
                "c80267716c3d348a"
            ]
        ]
    },
    {
        "id": "33da5b3bba92c5ca",
        "type": "mqtt out",
        "z": "40f9f35d7644f6dd",
        "name": "",
        "topic": "testecp3/d1/resposta",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6d48efd7b9031cb4",
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "46947f467d6638be",
        "type": "function",
        "z": "40f9f35d7644f6dd",
        "name": "function 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 380,
        "wires": [
            [
                "33da5b3bba92c5ca"
            ]
        ]
    },
    {
        "id": "310f38203bb10530",
        "type": "ui_toast",
        "z": "40f9f35d7644f6dd",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1170,
        "y": 900,
        "wires": []
    },
    {
        "id": "1a71dd11a83351ce",
        "type": "function",
        "z": "40f9f35d7644f6dd",
        "name": "function 2",
        "func": "msg.payload = \"Umidade fora do usual\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 900,
        "wires": [
            [
                "310f38203bb10530"
            ]
        ]
    },
    {
        "id": "42ebbd992d9cc5e5",
        "type": "mqtt out",
        "z": "40f9f35d7644f6dd",
        "name": "",
        "topic": "testecp3/d1/resposta",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6d48efd7b9031cb4",
        "x": 1180,
        "y": 840,
        "wires": []
    },
    {
        "id": "ee0e8fb9dfe84e31",
        "type": "function",
        "z": "40f9f35d7644f6dd",
        "name": "function 3",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 840,
        "wires": [
            [
                "42ebbd992d9cc5e5"
            ]
        ]
    },
    {
        "id": "bc3274c4cc73b3f5",
        "type": "ui_toast",
        "z": "40f9f35d7644f6dd",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1170,
        "y": 440,
        "wires": []
    },
    {
        "id": "accc1d49ba38da0e",
        "type": "function",
        "z": "40f9f35d7644f6dd",
        "name": "function 4",
        "func": "msg.payload = \"Temperatura fora do usual\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 440,
        "wires": [
            [
                "bc3274c4cc73b3f5"
            ]
        ]
    },
    {
        "id": "36cc9d773db5f830",
        "type": "mysql",
        "z": "40f9f35d7644f6dd",
        "mydb": "979a7d4759c75a97",
        "name": "",
        "x": 590,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "da5dad37be182d91",
        "type": "function",
        "z": "40f9f35d7644f6dd",
        "name": "function 5",
        "func": "var payload = msg.payload; \n\nmsg.topic = \"INSERT INTO CP3_IOT (umidade) VALUES ('\" + payload + \"')\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 800,
        "wires": [
            [
                "36cc9d773db5f830"
            ]
        ]
    },
    {
        "id": "9c106ee22fd77cb1",
        "type": "function",
        "z": "40f9f35d7644f6dd",
        "name": "function 6",
        "func": "var payload = msg.payload; \n\nmsg.topic = \"INSERT INTO CP3_IOT (temperatura) VALUES ('\" + payload + \"')\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 600,
        "wires": [
            [
                "36cc9d773db5f830"
            ]
        ]
    },
    {
        "id": "985697072927e805",
        "type": "mqtt in",
        "z": "40f9f35d7644f6dd",
        "name": "",
        "topic": "testecp3/d1/distancia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6d48efd7b9031cb4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 1060,
        "wires": [
            [
                "92168180d29be26e"
            ]
        ]
    },
    {
        "id": "92168180d29be26e",
        "type": "ui_gauge",
        "z": "40f9f35d7644f6dd",
        "name": "",
        "group": "b5882fb8ebc3c2c5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distancia",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#d53434",
            "#ffff00",
            "#2ec230"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6d48efd7b9031cb4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b5882fb8ebc3c2c5",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "46bcebb121042354",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "979a7d4759c75a97",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "banco_teste",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "46bcebb121042354",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]